body {
    margin: 0;
    padding: 1em;
}

form {
    width: 40em;
    margin: 0 auto;
    border: solid 1px #cecece;
    border-radius: 15px;
    box-shadow: 15px 10px 10px rgb(95, 95, 95);
    padding: 1em;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3em;
    border-bottom: solid 8px #000;
}

label {
    font-weight: bold;
}

input[type=text]{
    width: 97%!important;
    padding: 10px;
    margin: 5px 0 15px 0;
    border-radius: 10px;
    border: solid 1px #3a3939;
}

input[type=date]{
    width: 80%!important;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #3a3939;
}
input[type=date]:hover{
    background-color: rgb(231, 241, 213);
}


.email {
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto;
}

.email input[type=text]{
    width: 220%!important;    
}
#nasc {
    display: flexbox;
    padding-top: 3px;
    
}

.foneArea{
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto auto;
}

#foneFixo, #foneCelular {
    width: 230px;
}
input[type=text]{
    width: 100%;
}

input[type=text]:hover{
    background-color: rgb(231, 241, 213);
}

#prof, #al {
    display: none;
}

.botoes{
    display: flex;
    width: 40em;
    padding-top: 30px;
    margin: 0 auto;
    justify-content: space-between;
}

.bot {
    padding: 10px 30px;
    border-radius: 10px;
    border: solid 1px rgba(182, 212, 182, 0.884);
}

.bot:hover{
    background-color: rgb(221, 241, 184);
}

.radioOP {
    padding-top: 15px;
    font-size: 20px;
}

.result{
    width: 40em;
    padding-top: 30px;
    margin: 0 auto;
}